<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN PRIMARY NAVIGATION SEARCH FILTERS SIDEBAR-->
<nav th:fragment="search-filters-side-bar" id="js-primary-nav" class="primary-nav" role="navigation">
  <div class="nav-filter">
    <div class="position-relative">
      <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
      <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
        <i class="fal fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="info-card">
    <!-- <img th:src="@{/assets/img/demo/avatars/avatar-admin.png}"
          class="profile-image rounded-circle" alt="Dr. Codex Lantern">
     <div class="info-card-text">
       <a href="#" class="d-flex align-items-center text-white">
                               <span class="text-truncate text-truncate-sm d-inline-block">
                                   Dr. Codex Lantern
                               </span>
       </a>
       <span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>
     </div>-->
    <img th:src="@{/assets/img/card-backgrounds/cover-2-lg.png}" class="cover" alt="cover">
    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
      <i class="fal fa-angle-down"></i>
    </a>
  </div>
  <!--
TIP: The menu items are not auto translated. You must have a residing lang file associated with the menu saved inside dist/media/data with reference to each 'data-i18n' attribute.
-->
  <ul id="js-nav-menu" class="nav-menu">
    <li th:classappend="${#httpServletRequest.requestURI eq '/'} ? active : ''">
      <a href="/" title="Home" data-filter-tags="home">
        <i class="fal fa-globe"></i>
        <span class="nav-link-text" data-i18n="nav.home">Home</span>
      </a>
    </li>
    <li th:classappend="${#httpServletRequest.requestURI eq '/about'} ? active : ''">
      <a href="/about" title="About" data-filter-tags="about">
        <i class="fal fa-globe"></i>
        <span class="nav-link-text" data-i18n="nav.about">About</span>
      </a>
    </li>
    <li th:classappend="${#httpServletRequest.requestURI eq '/search'} ? active : ''">
      <a href="/search" title="Search" data-filter-tags="search">
        <i class="fal fa-globe"></i>
        <span class="nav-link-text" data-i18n="nav.search">Search</span>
      </a>
    </li>

    <!--BEGIN: Search Filters by aggregations-->
    <li th:if="${#httpServletRequest.requestURI eq '/search'}" class="nav-title">Search Filters</li>


    <li th:if="${aggregations != null && aggregations.by_document_type != null}" th:classappend="${aggregations != null && aggregations.by_document_type != null} ? 'active open' : ''">
      <a href="#" title="Document Types" data-filter-tags="document type">
        <i class="fal fa-window"></i>
        <span class="nav-link-text" data-i18n="nav.document_type">Document Type</span>
      </a>

      <ul>
        <li th:each="agg: ${aggregations.by_document_type}">
          <a th:with="aggKey=${#strings.capitalizeWords(#strings.replace(agg.key, '_', ' '))}" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${agg.key}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:title="${aggKey}" th:data-filter-tags="${aggKey}">
            <span th:text="${aggKey} + ' (' + ${agg.value} +')'" class="nav-link-text" data-i18n="'nav.document_type'+${aggKey}"></span>
          </a>
        </li>

      </ul>
    </li>
    <li th:if="${aggregations != null && aggregations.by_resource_type != null}" th:classappend="${aggregations != null && aggregations.by_resource_type != null} ? 'active open' : ''">
      <a href="#" title="Resource Types" data-filter-tags="resource type">
        <i class="fal fa-window"></i>
        <span class="nav-link-text" data-i18n="nav.resource_type">Resource Type</span>
      </a>

      <ul>
        <li th:each="agg: ${aggregations.by_resource_type}">
          <a th:with="aggKey=${#strings.capitalizeWords(#strings.replace(agg.key, '_', ' '))}" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${agg.key}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:title="${aggKey}" th:data-filter-tags="${aggKey}">
            <span th:text="${aggKey} + ' (' + ${agg.value} +')'" class="nav-link-text" data-i18n="'nav.resource_type'+${aggKey}"></span>
          </a>
        </li>

      </ul>
    </li>
    <li th:if="${aggregations != null && aggregations.by_jurisdiction != null}" th:classappend="${aggregations != null && aggregations.by_jurisdiction != null} ? 'active open' : ''">
      <a href="#" title="Jurisdictions" data-filter-tags="jurisdiction">
        <i class="fal fa-window"></i>
        <span class="nav-link-text" data-i18n="nav.jurisdiction">Jurisdictions</span>
      </a>
      <ul>
        <li th:each="agg: ${aggregations.by_jurisdiction}">
          <a th:with="aggKey=${#strings.capitalizeWords(#strings.replace(agg.key, '_', ' '))}" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.jurisdiction}, jurisdiction=${aggKey}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:title="${aggKey}" th:data-filter-tags="${aggKey}">
            <span th:text="${aggKey} + ' (' + ${agg.value} +')'" class="nav-link-text" data-i18n="'nav.jurisdiction'+${aggKey}"></span>
          </a>
        </li>

      </ul>
    </li>
    <!--<li th:if="${aggregations != null && aggregations.by_category != null}" th:classappend="${aggregations != null && aggregations.by_category != null} ? 'active open' : ''">
      <a href="#" title="Categories" data-filter-tags="category">
        <i class="fal fa-window"></i>
        <span class="nav-link-text" data-i18n="nav.category">Categories</span>
      </a>
      <ul>
        <li th:each="agg: ${aggregations.by_category}">
          <a th:with="aggKey=${#strings.capitalizeWords(#strings.replace(agg.key, '_', ' '))}" th:href="@{/search(q=${#request.getParameter('q')}, category=${agg.key}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:title="${aggKey}" th:data-filter-tags="${aggKey}">
            <span th:text="${aggKey} + ' (' + ${agg.value} +')'" class="nav-link-text" data-i18n="'nav.category'+${aggKey}"></span>
          </a>
        </li>

      </ul>
    </li>
    <li th:if="${aggregations != null && aggregations.by_keyword != null}" th:classappend="${aggregations != null && aggregations.by_keyword != null} ? 'active open' : ''">
      <a href="#" title="Keywords" data-filter-tags="keyword">
        <i class="fal fa-window"></i>
        <span class="nav-link-text" data-i18n="nav.keyword">Keywords</span>
      </a>
      <ul>
        <li th:each="agg: ${aggregations.by_keyword}">
          <a th:with="aggKey=${#strings.capitalizeWords(#strings.replace(agg.key, '_', ' '))}" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${agg.key}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:title="${aggKey}" th:data-filter-tags="${aggKey}">
            <span th:text="${aggKey} + ' (' + ${agg.value} +')'" class="nav-link-text" data-i18n="'nav.keyword'+${aggKey}"></span>
          </a>
        </li>

      </ul>
    </li>-->
  </ul>
  <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
<!-- END PRIMARY NAVIGATION -->
</body>
</html>