<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::main})">
<head>
  <title>UpLaw | Search</title>
</head>
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
  <!-- BEGIN Page Content -->
  <strong>Confirmation</strong>
  <p>Please Confirm Your Information is Correct and Review Your Document</p>
 <!-- TODO PAGE CONTENT -->

  <span th:utext="${data}" />
  <tr th:each="entry: ${data}">

      <td th:text="${entry}"/>
  </tr>

  <form action="/checkout" method="post">



    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </form>
  <!-- END Page Content -->

</main>
</html>

