<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title}, ~{::main})">
<head>
    <title>UpLaw | Search</title>
</head>
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <!-- BEGIN Page Content -->



    <!-- Page heading removed for composed layout -->
    <div class="px-3 px-sm-5 pt-4">
        <h1 class="mb-4">
            <span th:text="${total_hits}"></span> Results for <a th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}"><span th:text="${#request.getParameter('q')}"></span></a>

            <small class="mb-3">
                Search Time (0.023 seconds)
            </small>

        </h1>
        <form action="/search" method="get" id="search-form">
            <div class="input-group input-group-lg mb-5 shadow-1 rounded">
                <input name="q" type="text" class="form-control shadow-inset-2" id="filter-icon" aria-label="type 2 or more letters" placeholder="Search anything..." th:value="${#request.getParameter('q')}">
                <div class="input-group-append">
                    <button type="submit" form="search-form" class="btn btn-primary hidden-sm-down" ><i class="fal fa-search mr-lg-2"></i><span class="hidden-md-down">Search</span></button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Document Type</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">All</a>
                        <a class="dropdown-item" href="#">United States</a>


                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item active" href="#">Everything</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-tabs-clean px-3 px-sm-5" role="tablist">
        <li class="nav-item">
            <a class="nav-link active bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-all" role="tab">All</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-primary-sources" role="tab">Primary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-secondary-sources" role="tab">Secondary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-patents" role="tab">Patents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-transparent fs-lg fw-400" data-toggle="tab" href="#tab-trademarks" role="tab">Trademarks</a>
        </li>
        -->
    </ul>
    <div class="d-flex px-3 px-sm-5 py-4">

        <!--<div class="custom-control custom-switch d-inline-flex">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
            <label class="custom-control-label fw-500 text-dark" for="customSwitch1"><span class="hidden-sm-down">Activate</span> Location</label>
        </div>-->
        <div class="d-inline-block">
            <a href="javascript:void(0);" class="text-dark fw-500 dropdown-toggle ml-4" data-toggle="dropdown">Document Type</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active px-3 py-2" href="#">
                    <p class="m-0">All</p>
                    <p class="m-0 opacity-50">All Document Types</p>
                </a>
                <a class="dropdown-item px-3 py-2" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=opinion, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">
                    <p class="m-0">Opinions</p>
                    <p class="m-0 opacity-50">Decisions by Court Tribunals</p>
                </a>
                <a class="dropdown-item px-3 py-2" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=statute, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">
                    <p class="m-0">Statutes and Rules of Court</p>
                    <p class="m-0 opacity-50">Codified Laws</p>
                </a>
                <a class="dropdown-item px-3 py-2" href="#">
                    <p class="m-0">Rules and Regulations</p>
                    <p class="m-0 opacity-50">Administrative regulations</p>
                </a>
                <a class="dropdown-item px-3 py-2" href="#">
                    <p class="m-0">Acts</p>
                    <p class="m-0 opacity-50">Legislation</p>
                </a>
                <a class="dropdown-item px-3 py-2" href="#">
                    <p class="m-0">Secondary Sources</p>
                    <p class="m-0 opacity-50">Journals, Articles, Treaties</p>
                </a>
            </div>
        </div>
        <div class="d-inline-block">
            <a href="javascript:void(0);" class="text-dark fw-500 dropdown-toggle ml-4" data-toggle="dropdown">States</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active px-3 py-2" href="#">
                    <p class="m-0">All</p>
                    <p class="m-0 opacity-50">All Federal; All State</p>
                </a>
                <a class="dropdown-item  px-3 py-2" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=scotus, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">
                    <p class="m-0">Federal</p>
                    <p class="m-0 opacity-50">Federal</p>
                </a>
                <a class="dropdown-item px-3 py-2" href="#">
                    <p class="m-0">All States</p>
                    <p class="m-0 opacity-50">All 50 States</p>
                </a>

            </div>
        </div>
        <div class="d-inline-block">
            <a href="javascript:void(0);" class="text-dark fw-500 dropdown-toggle ml-4" data-toggle="dropdown">Jurisdiction</a>
            <div class="dropdown-menu">
                <a class="dropdown-item px-3 py-2" href="#">All Federal</a>
                <a class="dropdown-item px-3 py-2" href="#">All States</a>
                <a class="dropdown-item px-3 py-2" href="#">Alabama</a>
                <a class="dropdown-item px-3 py-2" href="#">Alaska</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item px-3 py-2 active" href="#">All Federal & States</a>
            </div>
        </div>
    </div>
    <div class="px-3 px-sm-5 pb-4">
        <div class="tab-content">
            <div class="tab-pane show active" id="tab-all" role="tabpanel" aria-labelledby="tab-all">
                <div class="card">

                    <ul class="list-group list-group-flush">
                        <tr th:each="document: ${documents}">
                            <li class="list-group-item py-4 px-4">
                                <a th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td th:text="${document._source.title}"/></a>
                                <a th:if="${(document._source.document_type eq 'opinion' || document._source.document_type eq 'statute' || document._source.document_type eq 'rule' || document._source.document_type eq 'regulation'  || document._source.document_type eq 'act')&& document._source.citations != null && not #lists.isEmpty(document._source.citations)}" th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td  th:text="${', ' + document._source.citations[0]}" /></a> (<a th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td th:text="${#strings.substring(document._source.date, 0, 4)}" /></a>)
                                <div class="fs-xs mt-1">
                                    <a th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" class="text-success"><span th:text="${#strings.capitalizeWords(#strings.replace(document._source.document_type, '_', ' '))}"></span></a> |
                                    <a th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" class="text-success"><span th:text="${#strings.capitalizeWords(#strings.replace(document._source.resource_type, '_', ' '))}"></span></a> |
                                    <a th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" class="text-success"><span th:text="${#strings.capitalizeWords(#strings.replace(document._source.jurisdictions[0], '_', ' '))}"></span></a> |
                                    <a th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" class="text-success"><span th:text="${#strings.capitalizeWords(#strings.replace(document._source.state, '_', ' '))}"></span></a>
                                </div>
                                <div class="mt-2">

                                    <a th:each="keyword : ${document._source.keywords}" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${keyword}, page=${param.page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" th:text="${#strings.append(keyword, ', ')}"></a>
                                </div>
                                <div class="mt-2">

                                    <span class="text-muted"><td th:text="${#strings.length(document._source.summary) >250} ? ${#strings.substring(document._source.summary,0,250)} : ${document._source.summary}" /></span>
                                </div>

                            </li>
                        </tr>
                    </ul>
                </div>
            </div>

            <!--PRIMARY SOURCES-->
            <div class="tab-pane" id="tab-primary-sources" role="tabpanel" aria-labelledby="tab-all">
                <div class="card">

                    <ul class="list-group list-group-flush">
                        <tr th:each="document: ${documents}">
                            <li class="list-group-item py-4 px-4">
                                <a th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td th:text="${document._source.title}"/></a>


                            </li>
                        </tr>
                    </ul>
                </div>
            </div>

            <!--SECONDARY SOURCES-->
            <div class="tab-pane" id="tab-secondary-sources" role="tabpanel" aria-labelledby="tab-secondary-sources">
                <div class="card">

                    <ul class="list-group list-group-flush">
                        <tr th:each="document: ${documents}">
                            <li class="list-group-item py-4 px-4">
                                <a th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td th:text="${document._source.title}"/></a>


                            </li>
                        </tr>
                    </ul>
                </div>
            </div>
            <!--PRIMARY SOURCES-->
            <div class="tab-pane" id="tab-patents" role="tabpanel" aria-labelledby="tab-patents">
                <div class="card">

                    <ul class="list-group list-group-flush">
                        <tr th:each="document: ${documents}">
                            <li class="list-group-item py-4 px-4">
                                <a th:href="@{/documents} + '/'+${document._source.uid}" class="fs-lg fw-500"><td th:text="${document._source.title}"/></a>


                            </li>
                        </tr>
                    </ul>
                </div>
            </div>

            <div class="tab-pane" id="tab-trademarks" role="tabpanel" aria-labelledby="tab-trademarks">
                <div class="py-2">
                    <div class="scrolling-wrapper demo-h-spacing">
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            chart
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            theme
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            layout
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            admin dashboard
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            bootstrap
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            app
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            header
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            awesome
                        </a>
                        <a href="#" class="btn btn-pills btn-outline-secondary d-inline-block js-waves-off">
                            responsive
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/1.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/2.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/3.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/5.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/6.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/10.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/14.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/12.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/4.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/1.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/2.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/3.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/5.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/6.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/10.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/14.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/12.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/4.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/15.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/13.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/11.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/1.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/2.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/3.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 py-2 px-2">
                        <a href="#" class="position-relative show-child-on-hover d-block shadow-hover">
                            <div class="position-absolute pos-top pos-left pos-right pos-bottom show-on-hover-parent">
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right opacity-20 bg-primary-500 rounded"></div>
                                <div class="position-absolute py-1 px-2 m-2 pos-bottom pos-right bg-primary text-white rounded opacity-90">
                                    <small>394x222</small>
                                </div>
                                <div class="position-absolute pos-top pos-bottom pos-left pos-right d-flex align-items-center justify-content-center text-white">
                                    <i class="fal fa-plus-circle display-2 m-0 opacity-90"></i>
                                </div>
                            </div>
                            <img th:src="@{/assets/img/demo/search/4.png}" alt="Search UpLaw Thumbnail" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination my-4">
            <li class="page-item">
                <a th:with="page=${param.page}" class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=${page}, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li  class="page-item" th:classappend="${param.page == null || #request.getParameter('page') eq '0' || #request.getParameter('page') eq ''} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=0, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">1</a>
            </li>
            <li class="page-item" th:classappend="${#request.getParameter('page') eq '1'} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=1, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">2</a>
            </li>
            <li class="page-item" th:classappend="${#request.getParameter('page') eq '2'} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=2, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">3</a>
            </li>
            <li class="page-item" th:classappend="${#request.getParameter('page') eq '3'} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=3, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">4</a>
            </li>
            <li class="page-item" th:classappend="${#request.getParameter('page') eq '4'} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=4, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">5</a>
            </li>
            <li class="page-item" th:classappend="${#request.getParameter('page') eq '5'} ? active : ''">
                <a class="page-link" th:href="@{/search(q=${#request.getParameter('q')}, category=${param.category}, citation=${param.citation}, date_from=${param.date_from}, date_to=${param.date_to}, document_type=${param.document_type}, jurisdiction=${param.jurisdiction}, keyword=${param.keyword}, page=5, resource_type=${param.resource_type}, size=${param.size}, state=${param.state}, title=${param.title}, uid=${param.uid})}">6</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </div>


<!-- END Page Content -->
</main>
</html>